<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Doraemon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A326A2531D87FAF700DA3995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A326A2691D87FAF700DA3995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A326A2741D87FAF700DA3995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
